@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap'); // This is for bold
@import url('https://fonts.googleapis.com/css2?family=Cambay&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cambay:wght@700&display=swap');

//Custom CSS should go in here
html,
body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #353535;
  margin: 0;
}
